body {
  padding: 0;
  margin: 0;
}

.choice-list {
  list-style-type: none;
}
.col-display {
  display: inline-block;
  width: 50%;
}
.col-left {
  float: left;
}
.col-right {
  text-align: center;
}
